.container{
    width: 500px;
}

.grid{
    height: 400px;
    width:400px;
    display: flex;
    flex-wrap: wrap;
    background-color:#dcd6bc ;
    margin-top:20px;
    margin-left: 50px;
    border: 10px solid #dcd6bc;
    margin-bottom:10px ;
}

div{
    font-size: 25px;
    text-align: center;
    font-family: "jersey 10 charted",monospace;
    width: 40px;
    height: 40px;
    border:solid 1px red;
    box-sizing: border-box;
}